<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.somewearlabs.swtak.plugin.permission.SOMEWEAR_GATEWAY" />

    <queries>
        <package android:name="com.somewearlabs.swtak.plugin" />
        <provider android:authorities="com.somewearlabs.swtak.plugin.somewear.gateway" />
    </queries>

    <application>
        <activity
            android:name=".WorkspaceQrScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar" />
    </application>
</manifest>
